{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1 class="text-white">Products</h1>

    <table class="table table-dark text-white">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Naam</th>
                <th>Prijs</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.code }}</td>
                <td>{{ product.naam }}</td>
                <td>{{ product.prijs }}</td>
                <td>
                    <a class="text-light" href="{{ path('product_show', {'id': product.id}) }}">show</a>
                    <a class="text-light" href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-dark" href="{{ path('product_new') }}">Create new</a>
{% endblock %}
